<!DOCTYPE html>
<html>
<head>
    <partial name="UserLayout" />
	<title>Order Ready</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    	 <link rel="stylesheet" href="~/css/orderready.css" aspend-versp-apion="true">

	<div class="container">
		<h1>Your Order is Ready!</h1>
		<p>Thank you for your patience. Enjoy your delicious meal!</p>
		<a href="Index" class="btn btn-primary">Order Again</a>
	</div>
</body>
</html>
