@model FeedBack


<partial name="UserLayout" />


@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
      background-color: rgb(219, 210, 218)
    }
  </style>
</head>
<body>
  <img align="right"  src="../Images/customer.png" style="margin-bottom: 1%;width:650px;height:700px;" alt=""> 
  <h2 >For any queries</h2><br>
  <h3>Contact: 8667863441 </h3>
  <a href="mailto:nithishkumar632@gmail.com"> For mail click here</a>
</body>
</html> *@


@* <div id="feedback-form-wrapper">
  <div id="floating-icon">
    <button type="button" class="btn btn-primary btn-sm rounded-0" data-toggle="modal" data-target="#exampleModal">
      Feedback
    </button>

  </div>
  <div id="feedback-form-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">How likely you would like to recommand us to your friends?</label>
                <div class="rating-input-wrapper d-flex justify-content-between mt-2">
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">1</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">2</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">3</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">4</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">5</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">6</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">7</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">8</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">9</span></label>
                  <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">10</span></label>
                </div>
                <div class="rating-labels d-flex justify-content-between mt-1">
                  <label>Very unlikely</label>
                  <label>Very likely</label>
                </div>
              </div>
              <div class="form-group">
                <label for="input-one">What made you leave us so early?</label>
                <input type="text" class="form-control" id="input-one" placeholder="">
              </div>
              <div class="form-group">
                <label for="input-two">Would you like to say something?</label>
                <textarea class="form-control" id="input-two" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> *@


<form method="post">
  <img align="right"  src="../Images/customer.png" style="margin-bottom: 1%;width:650px;height:700px;" alt=""> 
  <div class="form-group">
    <h2 class="Title1">Feed Back</h2><br>

    <div class="form-outline mb-4">
       <label class="form-label">UserName</label>
        <input type="text" required style="width: 35%;" asp-for="UserName" id="loginName"  placeholder="Abcd123" class="form-control"/>
       
      </div> 
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control"  required style="width: 35%;"  asp-for="EMail" id="exampleFormControlInput1" placeholder="name@example.com">
  </div><br>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Your rating for the Application</label>
    <select class="form-control"  required style="width: 35%;" asp-for="Rating" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write your message</label>
    <textarea class="form-control"  required style="width: 35%;" asp-for="Message" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div><br><br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
<span class="text-danger">@ViewData["Mess"]</span>
</form>