@model AddItems
<partial name="AdminLayout" />
<form method="post">
    <label for="ItemName">ItemName</label>
    <input type="text" name="ItemName" />

    <label for="ItemPrice">ItemPrice</label>
    <input type="text" name="ItemPrice" />

    <label for="Category">Category</label>
    <input type="text" name="Category" />

    <label for="ItemImage">ItemImage</label>
    <input type="text" name="ItemImage" />

    <button type="submit">Add</button>
</form>