@model DeleteItems
<partial name="AdminLayout" />
<form method="post">
    <label for="ItemName">ItemName</label>
    <input type="text" name="ItemName" required />

    <button type="submit">Delete</button>
</form>