<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <partial name="AdminLayout" />
    <link rel="stylesheet" href="~/css/managemenu.css" asp-append-version="true">
   <div class="container">
    <div class="button-group">
  <a href="AddItems" class="add-menu">Add Menu</a>
  <a href="DeleteItems" class="delete-menu">Delete Menu</a>
  <a href="UpdateItems" class="update-menu">Update Menu</a>
</div>
</div>
</body>
</html>

