@model UpdateItems
 <link rel="stylesheet" href="~/css/update.css" aspend-versp-apion="true">

 <partial name="AdminLayout" />
<form method="post">
  <label for="Itemname">ItemName</label>
  <input type="text" id="name" name="Itemname"  />
  
  <label for="ItemPrice">ItemPrice</label>
  <input type="text" id="name" name="ItemPrice"  />
  
  <label for="ItemImage">ItemImage</label>
   <input type="text" id="name" name="ItemImage" />

  
  <button type="submit">Update</button>
</form>
